
Analysis/Original Data/2003/au.edu.anu.ada.ddi.01111_v7.1_restricted.dta
Analysis/Original Data/2003/au.edu.anu.ada.ddi.01111_v7.1_unrestricted.dta
Analysis/Original Data/2006/au.edu.anu.ada.ddi.01137_v10.1_unrestricted.dta
Analysis/Original Data/2006/au.edu.anu.ada.ddi.01137_v10_restricted.dta
Analysis/Original Data/2009/au.edu.anu.ada.ddi.30023v9_restricted.dta
Analysis/Original Data/2009/au.edu.anu.ada.ddi.30023v9_unrestricted.dta
Analysis/Original Data/2015/au.edu.anu.ada.ddi.01392-postcodes-restricted.dta
Analysis/Original Data/2015/au.edu.anu.ada.ddi.01392_v5.dta
Analysis/Original Data/AllData/LSAY_2003.zip
Analysis/Original Data/AllData/LSAY_2006.zip
Analysis/Original Data/AllData/LSAY_2009.zip
Analysis/Original Data/AllData/LSAY_2015.zip
